<div th:fragment="footer">
	<footer class="footer">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-4">
	                <h5 class="footer-logo">Sushi Wa - Sushi và Lẩu Băng chuyền</h5>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.7867190715383!2d106.71906057480564!3d10.827627489324223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175291a441368eb%3A0x7a1dd7b554da4946!2sSushi%20Wa!5e0!3m2!1svi!2s!4v1728326309222!5m2!1svi!2s"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	            </div>
	            <div class="cuoicung col-md-4">
	                <h5>Bạn cần hỗ trợ</h5>
	                <p>
	                    <strong>Hoteline: 097 480 2998</strong><br>
	
	                    Địa chỉ:<a class="btn-reservation" href="https://maps.google.com/maps/dir//Sushi+Wa+TTTM+Giga+Mall,+240+%C4%90.+Ph%E1%BA%A1m+V%C4%83n+%C4%90%E1%BB%93ng+Hi%E1%BB%87p+B%C3%ACnh+Ch%C3%A1nh+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+H%E1%BB%93+Ch%C3%AD+Minh/@10.8276275,106.7216355,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x3175291a441368eb:0x7a1dd7b554da4946" target="_blank">Tầng B1, TTTM GigaMall, 240-242 Phạm Văn Đồng, Hiệp Bình Chánh, Thủ Đức, Tp. Hồ Chí Minh</a><br>
	                    Email: <a href="mailto:hotro.sushiwa@gmail.com">hotro.sushiwa@gmail.com</a>
	                </p>
	                <div class="social-icons">
	                    <a href="https://www.facebook.com/sushiwa" target="_blank" aria-label="Facebook">
	                        <i class="fab fa-facebook-f"></i>
	                    </a>
	                    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
	                        <i class="fab fa-twitter"></i>
	                    </a>
	                    <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
	                        <i class="fab fa-youtube"></i>
	                    </a>
	                    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
	                        <i class="fab fa-instagram"></i>
	                    </a>
	                </div>
	                <div class="payment-icons mt-3">
	                    <a href="https://visa.com" target="_blank" aria-label="Visa">
	                        <img src="https://cdn-icons-png.flaticon.com/512/196/196578.png" alt="Visa">
	                    </a>
	                    <a href="https://www.mastercard.com" target="_blank" aria-label="Mastercard">
	                        <img src="https://cdn-icons-png.flaticon.com/512/196/196561.png" alt="Mastercard">
	                    </a>
	                    <a href="https://www.stripe.com" target="_blank" aria-label="Stripe">
	                        <img src="https://cdn-icons-png.flaticon.com/512/825/825425.png" alt="Stripe">
	                    </a>
	                    <a href="https://www.paypal.com" target="_blank" aria-label="Paypal">
	                        <img src="https://cdn-icons-png.flaticon.com/512/196/196565.png" alt="Paypal">
	                    </a>
	                </div>
	            </div>
	            <div class="col-md-2">
	                <h5>Hướng dẫn</h5>
	                <ul class="list-unstyled">
	                    <li><a href="/promotion/58d05722-ab2a-4744-a3f5-b19bdc41fc9f">Cách đặt món</a></li>
	                    <li><a href="#">Phương thức thanh toán</a></li>
	                    <li><a href="#">Giao hàng tận nơi</a></li>
	                    <li><a href="#">Chính sách đổi trả</a></li>
	                    <li><a href="#">Câu hỏi thường gặp</a></li>
	                </ul>
	            </div>
	            <div class="col-md-2">
	                <h5>Hỗ trợ khách hàng</h5>
	                <ul class="list-unstyled">
	                    <li><a href="#">Liên hệ chúng tôi</a></li>
	                    <li><a href="#">Tư vấn thực đơn</a></li>
	                    <li><a href="#">Hướng dẫn đặt tiệc</a></li>
	                    <li><a href="#">Chính sách bảo mật</a></li>
	                    <li><a href="http://localhost:8080/promotion/f9976c6a-0e80-4c3c-9ea3-afb30c16c7ee">Điều khoản sử dụng</a></li>
	                </ul>
	            </div>
				<div class="cuoicung col-12 mt-3 mb-3 text-center text-secondary">
					<i>
					Bản quyền thuộc &copy;<script>document.write(new Date().getFullYear());</script> Sushi Wa.</i>
				</div>
	        </div>
	    </div>
	</footer>
</div>
